.cert-image {
    content-visibility: auto;
    aspect-ratio: 2.5/1;
    background-color: #eee;
    object-fit: fill;
}

.cert-header {
    font-size: 48px;
    color: #3A3E40;
    font-family: 'Lustria', serif;
}

#cert-text-header {
    font-size: 36px;
    color: #3A3E40;
    font-family: 'Lustria', serif;
}
#cert-text-body {
    font-size: 24px;
    color: #3A3E40;
    font-family: 'Lustria', serif;
}

.cert-footer {
    font-size: 48px;
    color: #3A3E40;
    font-family: 'Lustria', serif;
}