.shop-header {
    font-size: 48px;
    color: #3A3E40;
    font-family: 'Lustria', serif;
}

.shop-sub-header {
    font-size: 24px;
    color: #3A3E40;
    font-family: 'Lustria', serif;
}

.carousel-image {
    height: 600px;
}

.item-image {
    width: 360px;
    height: 360px;
    cursor: pointer;
}

.other-images {
   
    max-height: 400px !important;
}

.item-name {
    font-size: 24px;
    color: #3A3E40;
    font-family: 'Lustria', serif;
    font-weight: bold;
}
.item-description {
    font-size: 16px;
    color: #3A3E40;
    font-family: 'Lustria', serif;
}

.item-price {
    font-size: 18px;
    color: #3A3E40;
    font-family: 'Lustria', serif;
    font-weight: bold;
}

.add-to-cart-btn {
    background: #3A3E40;
    font-family: 'Lustria', serif;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border:0;
    padding-left: 20px;
    padding-right: 20px;
}

.add-to-cart-btn:hover {
    background: #81D8D0;
}
