.shop-header {
    font-size: 48px;
    color: #3A3E40;
    font-family: 'Lustria', serif;
}

.shop-sub-header {
    font-size: 24px;
    color: #3A3E40;
    font-family: 'Lustria', serif;
}

.carousel-image {
    aspect-ratio: 2.5/1;
    background-color: #eee;
    object-fit: cover;
}

.item-image {
    width: 360px;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.other-images {
    aspect-ratio: 1/1; 
    content-visibility: auto;

    background-color: #eee;
    object-fit: cover;
}

.item-name {
    font-size: 24px;
    color: #3A3E40;
    font-family: 'Lustria', serif;
    font-weight: bold;
}
.item-description {
    font-size: 16px;
    color: #3A3E40;
    font-family: 'Lustria', serif;
}

.item-price {
    font-size: 18px;
    color: #3A3E40;
    font-family: 'Lustria', serif;
    font-weight: bold;
}

.add-to-cart-btn  {
    background: #3A3E40;
    font-family: 'Lustria', serif;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border:0;
    padding-left: 20px;
    padding-right: 20px;
}

.add-to-cart-btn:hover {
    background: #81D8D0;
}

.sizes-menu button {
    background: #3A3E40 !important;
    font-family: 'Lustria', serif;
    color: white;
    border: 0 !important;
}

.sizes-menu button:hover {
    background: #81D8D0 !important;
}

.add-item-err-mssg {
    color: red;
    font-family: 'Lustria', serif;
    font-size: 0.8rem;
    margin-top: 0;
    
}

#empty-cart-mssg
{
    font-family: 'Lustria', serif;
    color: #3A3E40;
    margin-top: 5px;
    font-size: 12px;
}

