.adminPageBtns{
    background: #3A3E40;
    font-family: 'Lustria', serif;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border:0;
    }

.adminCard {
    width:50%;
    margin: 20px 0;
    
}
    .adminPageBtns:hover {
        background: #81D8D0;
    }

    .formMessages {
        color: red !important;
    }

    