.cart-cont {
    background-color: white;
    padding: 30px 60px 30px 60px;
}

.cart-header {
    font-size: 48px;
    color: #3A3E40;
    font-family: 'Lustria', serif;
}

.cart-subtotal {
    font-size: 24px;
    color: #3A3E40;
    font-family: 'Lustria', serif;
}

.cart-table th {
    font-weight: normal;
    font-size: 24px;
    color: #3A3E40;
    font-family: 'Lustria', serif;
}

.cart-table td {
    color: #3A3E40;
    font-family: 'Lustria', serif;
}

.cart-table-first {
    padding-left: 120px !important;
    text-align: left;
}

.cart-table-other {
    vertical-align: middle;
}

.cart-image {
    display: inline;
    width: 104px;
    aspect-ratio: 1/1;
    content-visibility: auto;
    background-color: #eee;
    margin-right: 30px;
}

.cart-table-items {
    display: inline;
    font-size: 20px;
}

.cart-table-items div {
    display: inline;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.8;
    padding-left: 10px;
    padding-right: 10px;
    width: 20px;
}

.increase-quan {
    color: #81D8D0;
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
    opacity: 0.8;

}

.decrease-quan {
    color: #E0DEDE;
    font-size: 30px;
    margin-left: 20px;
    cursor: pointer;
    opacity: 0.8;
}

.increase-quan:hover,
.decrease-quan:hover {
    opacity: 1;
}

.cart-table-delete-item {
    font-size: 25px;
}

.cart-table-delete-item:hover {
    color: red;

}

.empty-cart {
    font-size: 20px;
    color: #3A3E40;
    font-family: 'Lustria', serif;
}

.formik_err_msg {
    font-family: 'Lustria', serif;
    color: red;
    margin-top: 5px;
    font-size: 12px;
    padding-left: 5px;
}

#go-payment {
    background: #3A3E40;
    font-family: 'Lustria', serif;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: 0;
}

#go-payment:hover{
    background: #81D8D0;
}

#go-payment:disabled,
#go-payment[disabled]{
 opacity: 0.2;
 pointer-events: none;
}
.stripe-card-element {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    height: 38px;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
}