.cart-cont {
    background-color: white;
    padding: 3px 60px 3px 60px;
}

.cart-header {
    font-size: 24px;
    color: #3A3E40;
    font-family: 'Lustria', serif;
}

.cart-table th {
    font-weight: normal;
    font-size: 24px;
    color: #3A3E40;
    font-family: 'Lustria', serif;
}

.cart-table td {
    color: #3A3E40;
    font-family: 'Lustria', serif;
}

.cart-table-first {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-table-other{
    vertical-align: middle;
}

.cart-image{
    width: 104px;
    aspect-ratio: 1/1;
    content-visibility: auto;
    background-color: #eee;
    margin-right: 30px;
}

.cart-table-items {
font-size: 20px;
}

.cart-table-items div {
    display: inline;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    padding-left: 10px;
    padding-right: 10px;
}

.increase-quan{
    background-color: #81D8D0;
    color: #3A3E40;
    font-size: 20px;
    margin-right: 10px;

}

.decrease-quan{
    background-color: #E0DEDE;
    color: #3A3E40;
    font-size: 20px;
    margin-left: 10px;
}

.increase-quan:hover, .decrease-quan:hover {
    opacity: 1;
}

